<!-- footer -->
<div class="footer">
    <!-- footer-sub -->
    <div class="container">
        <div class="footer-sub">
            <div class="footer-sub-box">
                <h1 class="footer-sub-box_content">STAY UPTO DATE ABOUT OUR LATEST OFFERS</h1>
                <div class="footer-sub-box_input">
                    <img src="./assets/imgs/letter.svg" alt="">
                    <img src="./assets/imgs/sub-letter.svg" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- footer-main -->
    <div class="footer-main">
        <div class="container footer-main-list">
            <div class="footer-main-item">
                <img class="footer-main-item_title" src="./assets/imgs/shopco.svg" alt="">
                <div class="footer-main-item_content">
                    <p>We have clothes that suits your style and which you’re proud to wear. From women to men.</p>
                    <div class="footer-main-item_content_img">
                        <img src="./assets/imgs/soc1.svg" alt="">
                        <img src="./assets/imgs/soc2.svg" alt="">
                        <img src="./assets/imgs/soc3.svg" alt="">
                        <img src="./assets/imgs/soc4.svg" alt="">
                    </div>
                    
                </div>
            </div>
            <div class="footer-main-item">
                <p class="footer-main-item_title">Company</p>
                <div class="footer-main-item_content">
                    <p>About</p>
                    <p>Features</p>
                    <p>Works</p>
                    <p>Career</p>
                </div>
            </div>
            <div class="footer-main-item">
                <p class="footer-main-item_title">Help</p>
                <div class="footer-main-item_content">
                    <p>Customer Support</p>
                    <p>Delivery Details</p>
                    <p>Terms & Conditions</p>
                    <p>Privacy Policy</p>
                </div>
            </div>
            <div class="footer-main-item">
                <p class="footer-main-item_title">FAQ</p>
                <div class="footer-main-item_content">
                    <p>Account</p>
                    <p>Manage Deliveries</p>
                    <p>Orders</p>
                    <p>Payments</p>
                </div>
            </div>
            <div class="footer-main-item">
                <p class="footer-main-item_title">Resources</p>
                <div class="footer-main-item_content">
                    <p>Free eBooks</p>
                    <p>Development Tutorial</p>
                    <p>How to - Blog</p>
                    <p>Youtube Playlist</p>
                </div>
            </div>
        </div>
    </div>
    <!-- line -->
    <div class="container">
        <div class="line"></div>
    </div>
    <!-- footer-pay -->
    <div class="footer-pay">
        <div class="container">
            <p>Shop.co © 2000-2023, All Rights Reserved</p>
            <div class="footer-pay-img">
                <img src="./assets/imgs/visa.svg" alt="">
                <img src="./assets/imgs/visa2.svg" alt="">
                <img src="./assets/imgs/visa3.svg" alt="">
                <img src="./assets/imgs/visa4.svg" alt="">
                <img src="./assets/imgs/visa5.svg" alt="">
            </div>
        </div>
    </div>
</div>