<!-- Banner -->
<div class="banner">
    Sign up and get 20% off to your first order. <span>Sign Up Now</span>
</div>
<!-- Header -->
<div class="header">
    <div class="container">
        <div class="navbar">
            <!-- Logo -->
            <div class="mega-menu">
                <a class="btn btn-primary oc" type="button" data-bs-toggle="offcanvas" data-bs-target="#megaMenu" aria-controls="megaMenu">
                    <img src="./assets/imgs/menu.svg" alt="" class="menu">
                </a>
                <!-- Offcanvas Menu -->
                <div class="offcanvas offcanvas-start" tabindex="-1" id="megaMenu" aria-labelledby="megaMenuLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="megaMenuLabel">Menu</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    
                    <div class="offcanvas-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 offcanvas-body_item">
                                <input type="text" class="oc_input" placeholder="Search products ...">
                            </div>
                            <div class="col-12 offcanvas-body_item">
                                <h6 id="shopHeading" class="toggle-item">Shop<i class="fa-solid fa-plus" id="shopIcon"></i></h6>
                                <ul id="shopItems" class="shop-items" style="display: none;">
                                    <li><a href="../detailProduct.html">T-Shirts</a></li>
                                    <li><a href="../detailProduct.html">T-Shirts</a></li>
                                    <li><a href="../detailProduct.html">T-Shirts</a></li>
                                    
                                </ul>
                            </div>
                            <div class="col-12 offcanvas-body_item">
                                <h6>On Sales</h6>
                            </div>
                            <div class="col-12 offcanvas-body_item">
                                <h6>New Arrivals</h6>
                            </div>
                            <div class="col-12 offcanvas-body_item">
                                <h6>Brands</h6>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>

                <img src="./assets/imgs/logo.svg" alt="" class="logo">
            </div>
            <!-- navigation -->
            <ul class="nav">
                <li class="dropdown">
                    <a class="btn btn-secondary "  data-bs-toggle="dropdown" aria-expanded="false" href="">Shop <img src="./assets/imgs/vector.svg" alt=""></a>
                    <!-- <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="../detailProduct.html">T-Shirts</a></li>
                        <li><a class="dropdown-item" href="../detailProduct.html">T-Shirts</a></li>
                        <li><a class="dropdown-item" href="../detailProduct.html">T-Shirts</a></li>
                        <li><a class="dropdown-item" href="../detailProduct.html">T-Shirts</a></li>
                        <li><a class="dropdown-item" href="../detailProduct.html">T-Shirts</a></li>
                        <li><a class="dropdown-item" href="../detailProduct.html">T-Shirts</a></li>
                        <li><a class="dropdown-item" href="../detailProduct.html">T-Shirts</a></li>
                        <li><a class="dropdown-item" href="../detailProduct.html">T-Shirts</a></li>
                        <li><a class="dropdown-item" href="../detailProduct.html">T-Shirts</a></li>
                    </ul> -->
                    <div class="dropdown-menu">
                        <div class="container">
                            <div class="row">
                                <div class="col-3 left">
                                    <ul>
                                        <li><a href="../detailProduct.html">T-Shirts</a></li>
                                        <li><a href="../detailProduct.html">T-Shirts</a></li>
                                        <li><a href="../detailProduct.html">T-Shirts</a></li>
                                        <li><a href="../detailProduct.html">T-Shirts</a></li>
                                        <li><a href="../detailProduct.html">T-Shirts</a></li>
                                        <li><a href="../detailProduct.html">T-Shirts</a></li>
                                        <li><a href="../detailProduct.html">T-Shirts</a></li>
                                        <li><a href="../detailProduct.html">T-Shirts</a></li>
                                        <li><a href="../detailProduct.html">T-Shirts</a></li>
                                        <li><a href="../detailProduct.html">T-Shirts</a></li>

                                    </ul>
                                </div>
                                <div class="col-9 right">
                                    <img src="../assets/imgs/tshirtsmall2.svg" alt="">
                                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Distinctio corrupti architecto quidem est eligendi obcaecati, voluptatum, ea delectus, doloremque labore repellendus modi laboriosam cupiditate vel eos ut officiis. Quibusdam, expedita.
                                    Expedita fuga, corporis delectus repellendus iste ratione, facere deserunt molestiae aut obcaecati odio enim natus vel eveniet! Repudiandae cumque vel, iusto saepe iure ipsa aspernatur error odio atque veritatis hic!
                                    Perspiciatis, ratione non enim earum sunt blanditiis. Molestiae sapiente, laudantium dolorum quia dicta deserunt quas itaque cumque sunt eveniet reiciendis eos qui nulla. Vero vel magni nisi dignissimos ratione fugiat.
                                    Nemo aspernatur porro illum sed, totam cumque esse eaque eius minus repudiandae nesciunt ipsam suscipit ipsa voluptatem molestias deserunt ad exercitationem dolorum perferendis, placeat omnis. Quam assumenda vel excepturi veritatis.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li><a href="">On Sale</a></li>
                <li><a href="">New Arrivals</a></li>
                <li><a href="">Brands</a></li>
            </ul>
            <div class="search">
                <img src="./assets/imgs/search.svg" alt="">
                <input placeholder="Search for products...">
            </div>
            <div class="action">
                <img class="action-one" src="./assets/imgs/search.svg" alt="">
                <img class="action-two" src="./assets/imgs/category.svg" alt="" data-bs-toggle="offcanvas" data-bs-target="#offcanvasCategory">
                <img class="action-three" src="./assets/imgs/user.svg" alt="" data-bs-toggle="offcanvas" data-bs-target="#offcanvasUser">
            </div>
            <!-- Offcanvas for action-two -->
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasCategory" aria-labelledby="offcanvasCategoryLabel">
                <div class="offcanvas-header">
                    <!-- <h5 class="offcanvas-title" id="offcanvasCategoryLabel">Categories</h5> -->
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <p>Nội dung liên quan đến category...</p>
                </div>
            </div>
  
            <!-- Offcanvas for action-three -->
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasUser" aria-labelledby="offcanvasUserLabel">
                <div class="offcanvas-header">
                    <!-- <h5 class="offcanvas-title" id="offcanvasUserLabel">User Information</h5> -->
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <!-- Lựa chọn đăng nhập và đăng ký -->
                    <div class="user-options">
                        <div id="loginOption" class="option" style="cursor: pointer;">Đăng nhập</div>
                        <div id="registerOption" class="option" style="cursor: pointer;">Đăng ký</div>
                    </div>
                    <!-- Form đăng nhập -->
                    <div id="loginForm" class="form-section" style="display: none;">
                        <h5>Form Đăng nhập</h5>
                        <form>
                        <div class="mb-3">
                            <label for="loginEmail" class="form-label">Email</label>
                            <input type="email" class="form-control" id="loginEmail">
                        </div>
                        <div class="mb-3">
                            <label for="loginPassword" class="form-label">Mật khẩu</label>
                            <input type="password" class="form-control" id="loginPassword">
                        </div>
                        <button type="submit" class="btn btn-primary">Đăng nhập</button>
                        </form>
                    </div>
                    <!-- Form đăng ký -->
                    <div id="registerForm" class="form-section" style="display: none;">
                        <h5>Form Đăng ký</h5>
                        <form>
                        <div class="mb-3">
                            <label for="registerEmail" class="form-label">Email</label>
                            <input type="email" class="form-control" id="registerEmail">
                        </div>
                        <div class="mb-3">
                            <label for="registerPassword" class="form-label">Mật khẩu</label>
                            <input type="password" class="form-control" id="registerPassword">
                        </div>
                        <button type="submit" class="btn btn-primary">Đăng ký</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>