*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
    font-family: "Satoshi";
}
h1,h2{
    font-family: 'FONTSPRING DEMO - Integral CF';
}
.container{
    max-width: 1240px
}
a{
	text-decoration: none;
    color: #000000
}
/* ============================Banner================================= */
.banner{
    height: 38px;
    background-color: antiquewhite;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: #ffffff;
    font-weight: 400;
}
.banner span{
    text-decoration: underline;
    margin-left: 5px;
    font-weight: 500;
}
/* ============================Header================================= */
.header{
    height: 96px;
    /* background-color: bisque; */
    display: flex;
    align-items: center;
}
.header .navbar{
    display: flex;
    align-items: center;
    height: auto;   
    width: 100%;
    /* height: 100%; */
    justify-content: space-between;
    position: relative;
    z-index: 1;
}
.header .nav .nav__item:hover .dropdown{
    display: block;
}
.header .nav .dropdown{
    position: absolute;
    left: 0;
    padding-top: 54px;
    display: none;
    width: 100%;
}
.header .nav .dropdown .dropdown_inner{
    padding: 30px;
    border-radius: 20px;
    background-color: #ffffff;
    box-shadow: 0px 40px 90px 20px rgba(200, 200, 200, 0.4);
    position: relative;
    max-height: min(582px, 100vh - 160px);
}
.header .nav .dropdown .dropdown_inner::before{
    content: url("../imgs/dropdown-arrow.svg");
    position: absolute;
    top: -13px;
    left: 205px;
}
.header .nav .dropdown .dropdown_inner .top-menu{
    max-height: calc(min(582px, 100vh - 160px) - 60px);
    position: relative;
}
.header .nav .dropdown .dropdown_inner .top-menu .top-menu__main{
    max-height: inherit;
    width: 292px;
    border-right: 1px solid #d2d1d6;
    overflow-y: auto;
}
.header .nav .dropdown .dropdown_inner .top-menu .top-menu__main .menu-column{
    display: flex;
    gap: 14px;
}
.header .nav .dropdown .dropdown_inner .top-menu .top-menu__main .menu-column .menu-column__icon{
    width: 36px;
    height: 36px;
    position: relative;
    flex-shrink: 0;
    object-fit: cover;
}
.header .nav .dropdown .dropdown_inner .top-menu .top-menu__main .menu-column .menu-column__icon .menu-column__icon-1{
    width: 30px;
    height: 30px;
    object-fit: cover;
    
}
.header .nav .dropdown .dropdown_inner .top-menu .top-menu__main .menu-column .menu-column__icon .menu-column__icon-2{
    width: 24px;
    height: 24px;
    object-fit: cover;
    position: absolute;
    right: 0;
    bottom: 0;
}
.header .nav .dropdown .dropdown_inner .top-menu .top-menu__main .menu-column .menu-column__content{
    flex: 1;
}
.header .nav .dropdown .dropdown_inner .top-menu .top-menu__main .menu-column .menu-column__content .menu-column__heading{
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 150%;
    color: #1A162E;
}
.header .nav .dropdown .dropdown_inner .top-menu .top-menu__main .menu-column .menu-column__content .menu-column__list{
    margin-top: 26px;
    /* background-color: #0071dc; */
}
.header .nav .dropdown .dropdown_inner .top-menu .top-menu__main .menu-column .menu-column__content .menu-column__list li{
    display: block;
    width: 100%;
}
.header .nav .dropdown .dropdown_inner .top-menu .top-menu__main .menu-column .menu-column__content .menu-column__list .menu-column__link{
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 142.875%;
    display: block;
    padding: 7px 0;
    /* background-color: red; */
    /* width: 100%; */
}
.header .nav .dropdown .dropdown_inner .top-menu .top-menu__main .menu-column .menu-column__content .menu-column__list .menu-column__link:hover{
    color: #0071dc;
    font-weight: 500;
}
.header .nav .dropdown .dropdown_inner .top-menu .top-menu__main .menu-column .menu-column__content .menu-column__list .menu-column__item .sub-menu{
    position: absolute;
    top: 0;
    left: 292px;
    display: flex;
    padding-left: 24px;
    /* padding-bottom: 30px; */
    max-height: 420px;
    overflow-y: auto;
    display: none;
}
header .nav .dropdown .dropdown_inner .top-menu .top-menu__main .menu-column .menu-column__content .menu-column__list .menu-column__item:hover .sub-menu{
    display: flex;
}
.header .nav .dropdown .dropdown_inner .top-menu .top-menu__main .menu-column .menu-column__content .menu-column__list .menu-column__item .sub-menu .sub-menu__column{
    width: 280px;
}
.header .nav .dropdown .dropdown_inner .top-menu .top-menu__main .menu-column .menu-column__content .menu-column__list .menu-column__item .sub-menu .sub-menu__column .menu-column{
    margin-bottom: 30px;
}
.header .navbar > ul{
    display: flex;
    align-items: center;
}
.header .navbar > ul li.dropdown a{
    /* height: 100px; */
    background-color: #FFFFFF;
    border: none;
    color: #000000;
    font-weight: 400;
    font-size: 1.6rem;
}
.header .navbar .action{
    /* margin-left: auto; */
}
.header .navbar .action img{
    width: 24px;
    height: 24px;
}
.header .navbar .action img{
    margin-left: 10px;
}
/* OFFCANVAS */
.header .navbar .offcanvas_three .user-options{
    /* background-color: antiquewhite; */
    position: relative;
    margin-bottom: 20px;
}
.header .navbar .offcanvas_three .user-options .option{
    text-align: center;
    padding: 10px;
    margin-bottom: 15px;
}
.header .navbar .offcanvas_three .user-options .underline{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50%; /* Đặt width bằng 50% để dấu gạch chân phủ dưới một lựa chọn */
    height: 3px;
    background-color: #d2d1d6;
    transition: left 0.3s ease-in-out; /* Thêm hiệu ứng chuyển động */
}
.header .navbar .offcanvas_three .active{
    background-color: antiquewhite;
}
.header .navbar .offcanvas_three .user-options.active::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    background-color: transparent;
    
}
.header .navbar .offcanvas_three .form-section .form-section__row{
    margin-bottom: 10px;
}
.header .navbar .offcanvas_three .form-section label{
    width: 30%;
}
.header .navbar .offcanvas_three .form-section input{
    width: 68%;
    border-radius: 5px;
    background-color: #f0eff5;
    border: none;
}
.header .navbar .offcanvas_three .form-section button{
    width: 100%;
    border: none;
    padding: 10px;
}
.header .navbar ul li{
    margin-right: 24px;
}
.header .navbar > ul li a{
    /* background-color: aqua; */
    font-weight: 400;
    font-size: 1.6rem;
}
.header .navbar ul li:last-child{
    margin-right: 0px;
}
.navbar .nav__item .nav__img{
    transform: translateY(-2px);
    
}
.navbar .search{
    display: flex;
    align-items: center;
    max-width: 577px;
    height: 48px;
    position: relative;
}
.navbar .search-input{
    width: 577px;
    background-color: #F0F0F0;
    height: 50px;
    border-radius: 62px;
    display: flex;
    align-items: center;
    padding-left: 48px;
    padding-right: 16px;
    border: none;
}
.navbar .search img{
    width: 24px;
    height: 24px;
    position: absolute;
    left: 16px;
    /* top: 12px; */
}
/* none */
.header .navbar .mega-menu .oc{
    display: none;
}
.header .navbar .action .action-one{
    display: none;
}
/* JS + CSS menu */
.header .mega-menu .offcanvas .offcanvas-body .container .offcanvas-body_item{
    border-bottom: 1px solid #000000;
    padding-top: 10px;
    padding-bottom: 10px;
}
.header .mega-menu .offcanvas .offcanvas-body .container .offcanvas-body_item h6{
    font-weight: 700;
    font-size: 3rem;
}
.header .mega-menu .offcanvas .offcanvas-body .container .offcanvas-body_item:nth-child(1){
    border-bottom: none
}
.header .mega-menu .offcanvas .offcanvas-body .container .offcanvas-body_item:nth-child(2) h6{
    display: flex;
    justify-content: space-between;
}
.toggle-item {
    cursor: pointer; 
    display: flex;
    align-items: center; 
}
.rotate {
    transition: transform 0.3s ease; 
    transform: rotate(90deg); 
}
.header .mega-menu .offcanvas .offcanvas-body .container .offcanvas-body_item:nth-child(2) ul{
    margin-left: 30px;
    margin-top: 10px;
}
.header .mega-menu .offcanvas .offcanvas-body .container .offcanvas-body_item:nth-child(2) ul li{
    padding-top: 5px;
    padding-bottom: 5px;
    /* background-color: aqua; */
    margin-right: 0;
}
.header .navbar .nav .dropdown .dropdown-menu{
    width: 500px;
    /* background-color: aqua; */
}
.header .navbar .nav .dropdown .dropdown-menu .left{
    border-right: 1px solid #000000;
}
.header .navbar .nav .dropdown .dropdown-menu .right{
    display: flex;
}
.header .navbar .nav .dropdown .dropdown-menu .right p{
    padding-left: 5px;
}
/* ============================Hero================================= */
.hero-wrap{
    /* max-height: 663px; */
    /* background-image: url(../imgs/hero.svg); */
    padding-top: 103px;
    padding-bottom: 116px;
    position: relative;
    background: #F2F0F1;

}
/* LEFT */
.hero-wrap .hero-position{
    /* background-color: aquamarine; */
}
.hero-wrap .hero-position .hero-position-title{
    font-weight: 700;
    font-size: 6.4rem;
    color: #000000;
    margin-bottom: 32px;
}
.hero-wrap .hero-position .hero-position-description{
    font-weight: 400;
    font-size: 1.6rem;
    color: #00000099;
    margin-bottom: 32px;
}
.hero-wrap .hero-position .hero-position-btn{
    background-color: #000000;
    color: #ffffff;
    padding: 16px 54px 16px 54px;
    border-radius: 62px;
    width: 210px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 1.6rem;
    margin-bottom: 48px;
}
.hero-wrap .hero-position .hero-position-btn a{
    color: #ffffff;
}
.hero-wrap .hero-position .hero-position-info{
    max-width: 596px;
    display: flex;
    flex-wrap: wrap;
    /* background-color: blueviolet; */
    justify-content: space-between;
}
/* .hero-wrap .hero-position .hero-position-info .hero-position-info_item{
    
} */
.hero-wrap .hero-position .hero-position-info .hero-position-info_item .hero-position-info_number{
    font-weight: 700;
    font-size: 4rem;
}
.hero-wrap .hero-position .hero-position-info .hero-position-info_item .hero-position-info_title{
    font-weight: 400;
    font-size: 1.6rem;
    color: #00000099;
}
.hero-wrap .hero-position .hero-position-info .vertical-line-one{
    border: 1px solid #0000001A
}
.hero-wrap .hero-position .hero-position-info .vertical-line-two{
    border: 1px solid #0000001A
}
/* RIGHT */
.hero-wrap .hero-right{
    /* background-color: bisque; */
}
.hero-wrap .hero-right img{
    height: 600px;
    position: absolute;
    bottom: 0;
    right: 120px;
    
}
@media only screen and (max-width: 767px){
    .hero-wrap{
        position: unset;
    }
    .hero-wrap .hero-right img{
        position: unset;
        bottom: unset;
        width: 100%;
        height: auto;
    }
}
/* ============================Brands================================= */
.brands{
    padding-top: 45px;
    padding-bottom: 45px;
    background: #000000;

}
.brands .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

/* .brands .row-brands{

} */
.brands .row-brands p{    
    color: #ffffff;
    text-align: center;
}

/* ============================Products================================= */
.products .product{
    /* background-color: aquamarine; */
    margin-top: 72px;
}
.products .product .product-title{
    font-weight: 700;
    font-size: 4.8rem;
    text-align: center;
    margin-bottom: 55px;
}
.products .product .product-list{
    margin-bottom: 36px;
}
.products .product .product-btn{
    width: 218px;
    height: 52px;
    background-color: antiquewhite;
    text-align: center;
    line-height: 52px;
    border-radius: 62px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 64px;
}
.products .product .line{
    border: 1px solid #0000001A;
    margin-bottom: 64px;
}
.products .product .btn-sell{
    margin-bottom: 86px;
}
.products .product .product-list .item{
    width: 23.79%;
    margin-right: 20px;
}
.products .product .product-list .item .title{
    font-weight: 700;
    font-size: 2rem;
    margin-top: 16px;
}
.products .product .product-list .item .star{
    display: flex;
    align-items: center;
    margin-top: 8px;
}
.products .product .product-list .item .star img:last-of-type{
    margin-right: 15px;
    font-weight: 400;
    font-size: 1.4rem;
}
.products .product .product-list .item .star p{
    font-weight: 400;
    font-size: 1.4rem;
}
.products .product .product-list .item .price{
    margin-top: 8px;
    display: flex;
    align-items: center;
}
.products .product .product-list .item .price p{
    margin-right: 10px;
    font-weight: 700;
    font-size: 2.4rem;
}
.products .product .product-list .item .price-old{
    color: #00000066;
} 
.products .product .product-list .item .price p:last-child{
    font-weight: 500;
    font-size: 1.2rem;
    width: 58px;
    height: 28px;
    background: #FF33331A;
    color: red;
    text-align: center;
    line-height: 28px;
    border-radius: 62px;
    margin-right: 0;
}
/* ============================Styles================================= */
.styles .box{
    margin-top: 80px;
    background: #F0F0F0;
    padding-top: 70px;
    padding-bottom: 76px;
    border-radius: 40px;
}
.styles h1{
    font-weight: 700;
    font-size: 4.8rem;
    text-align: center;
    margin-bottom: 64px;
}
.styles .box .box-content{
    max-width: 1111px;
    /* background-color: aqua; */
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-around; */
    gap: 20px;
    
}
/* ============================Customer================================= */
.customer{
    margin-top: 80px;
    /* margin-bottom: 170px; */
}
.customer .customer-top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}
.customer .customer-top h1{
    font-weight: 700;
    font-size: 4.8rem;
}
.customer .customer-top .vector{
    display: flex;
    align-items: flex-end;
}
/* review */
.customer .customer-review{
    
}
.customer .customer-review .carousel-cell{
    width: 32.26%;
    margin-right: 20px;
    border-radius: 20px;
    border: 1px solid;
    border: 1px solid #0000001A;
}
.customer .customer-review .carousel-cell .item{
    margin: 28px 32px 50.4px 32px;
}
.customer .customer-review .carousel-cell .item .row1{
    margin-bottom: 15px;
}
.customer .customer-review .carousel-cell .item .row2{
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 2rem;  
    color: #000000;
}
.customer .customer-review .carousel-cell .item .row3{
    font-weight: 400;
    font-size: 1.6rem;  
    color: #00000099;
}
/* ============================footer================================= */
.footer{
    /* position: relative; */
    margin-top: 170px;
    background-color: #F0F0F0;
}
.footer .container{
    position: relative;
}
.footer .footer-sub{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    background: #000000;
    border-radius: 20px;
    position: absolute;
    z-index: 1;
    left: 50%;
    transform: translate(-50%, -50%)
    /* margin-top: 80px; */
}
.footer .footer-sub .footer-sub-box{
    min-height: 180px;
    max-width: 1112px;
    /* background-color: aqua;  */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 36px;
    padding-bottom: 36px;
    
}
.footer .footer-sub .footer-sub-box .footer-sub-box_content{
    font-weight: 700;
    font-size: 4rem;
    color: #FFFFFF;
    max-width: 551px;
    /* background-color: aquamarine; */
}
.footer .footer-sub .footer-sub-box .footer-sub-box_input{
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    gap: 14px;
}
.footer .footer-main{
    /* background-color: aqua; */
}
.footer .footer-main .footer-main-list{
    display: flex;
    justify-content: space-between;
    /* background-color: antiquewhite; */
    padding-top: 140px;
}

.footer .footer-main .footer-main-list .footer-main-item .footer-main-item_title{
    font-weight: 500;
    font-size: 1.6rem;
    color: #000000;
    margin-bottom: 26px;
}
.footer .footer-main .footer-main-list .footer-main-item .footer-main-item_content{
    font-weight: 400;
    font-size: 1.6rem;
    color: #00000099;
}
.footer .footer-main .footer-main-list .footer-main-item:first-child p{
    max-width: 248px;
    font-weight: 400;
    font-size: 1.4rem;
}
.footer .footer-main .footer-main-list .footer-main-item:first-child .footer-main-item_title{
    margin-bottom: 25px;
}
.footer .footer-main .footer-main-list .footer-main-item .footer-main-item_content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 133px;
}
.footer .footer-main .footer-main-list .footer-main-item:first-child .footer-main-item_content{
    display: block;
}
.footer .footer-main .footer-main-list .footer-main-item:first-child .footer-main-item_content .footer-main-item_content_img{
    margin-top: 55px;
}
/* line */
.footer .line{
    margin-top: 50px;
    border: 1px solid #0000001A
}
.footer .footer-pay .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer .footer-pay .container p{
    color: #00000099;
    font-weight: 400;
    font-size: 1.4rem;
}
.footer .footer-pay .footer-pay-img{
    display: flex;
    align-items: center;
}
.footer .footer-pay .footer-pay-img img{
    /* line-height: 49px; */
    
}
/* ********************************detailProducts**************************************** */

.line-bot-header{
    border: 1px solid #0000001A
}
/* breadcrumb */
.breadcrumb{
    margin-top: 24px;
    margin-bottom: 35px;
}
.breadcrumb a{
    display: flex;
}
/* ==================detailProducts=================== */
.detailProduct .detailProduct-left{
    display: flex;
    /* background-color: antiquewhite; */
}
.detailProduct .detailProduct-left .detailProduct-left-small{
    display: flex;
    flex-direction: column;
    gap: 14px;
    margin-right: 14px;
}
.detailProduct .detailProduct-right{
    /* background-color: aqua; */
    padding-left: 30px;
}
.detailProduct .detailProduct-right h1{
    font-weight: 700;
    font-size: 4rem;
    margin-bottom: 14px;
}
.detailProduct .detailProduct-right .star{
    display: flex;
    align-items: center;
    margin-bottom: 14.29px;
}
.detailProduct .detailProduct-right .star img:last-of-type{
    margin-right: 16px;
}
.detailProduct .detailProduct-right .star span{
    font-weight: 400;
    font-size: 1.6rem;
}
.detailProduct .detailProduct-right .price{
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}
.detailProduct .detailProduct-right .price p{
    margin-right: 10px;
    font-weight: 700;
    font-size: 3.2rem;
}
.detailProduct .detailProduct-right .price .price-old{
    color: #00000066;
} 
.detailProduct .detailProduct-right .price p:last-child{
    font-weight: 500;
    font-size: 1.2rem;
    width: 58px;
    height: 28px;
    background: #FF33331A;
    color: red;
    text-align: center;
    line-height: 28px;
    border-radius: 62px;
    margin-right: 0;
}
.detailProduct .detailProduct-right .desc{
    font-weight: 400;
    font-size: 1.6rem;
    color: #00000099;

}
.line{
    border: 1px solid #0000001A;
    margin-top: 24px;
    margin-bottom: 24px;
}
.sCo p{
    color: #00000099;
    font-weight: 400;
    font-size: 1.6rem;
    margin-bottom: 16px;
}
.sCo img{
    margin-right: 16px;
}
.cs p{
    color: #00000099;
    font-weight: 400;
    font-size: 1.6rem;
    margin-bottom: 16px;
}
/* ==================AllReview=================== */
.allreview{}
.allreview .allreview-head{
    margin-top: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.allreview .allreview-head .allreview-head-left{
    font-weight: 700;
    font-size: 2.4rem;
    color: #000000;
}
.allreview .allreview-head .allreview-head-left span{
    font-weight: 400;
    font-size: 1.6rem;
    color: #00000099;
}
.allreview .allreview-head .allreview-head-right{
    display: flex;
    align-items: center;
}
.allreview .allreview-head .allreview-head-right img{
    margin-right: 10px;
}
.allreview .allreview-head .allreview-head-right p{
    width: 166px;
    height: 46px;
    background-color: #000000;
    border-radius: 62px;
    line-height: 46px;
    color: #ffffff;
    text-align: center;
}
.allreview-main{
    margin-top: 24px;
}
.allreview-main .item{
    /* background-color: antiquewhite; */
    padding: 28px 32px;
    border: 1px solid #0000001A;
    border-radius: 20px;
    width: calc(50% - 20px);
    margin-right: 20px;
    margin-bottom: 20px;
}
.allreview-main .item:last-child {
    margin-right: 0;
} 
.allreview-main .item .item-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.allreview-main .item .item-name{
    display: flex;
    align-items: center;
    margin-top: 19.5px;
}
.allreview-main .item .item-name span{
    font-weight: 700;
    font-size: 2rem;
    color: #000000;
    margin-right: 4px;
}
.allreview-main .item .item-review{
    margin-top: 12px;
    font-size: 1.6rem;
    font-weight: 400;
    color: #00000099;
}
.allreview-main .item .item-day{
    margin-top: 24px;
    font-weight: 500;
    font-size: 1.6rem;
    color: #00000099;
}
.allreview .load{
    margin-top: 52px;
}
.allreview .load p{
    width: 230px;
    height: 52px;
    border-radius: 62px;
    border: 1px solid #0000001A;
    text-align: center;
    line-height: 52px;
    margin-left: auto;
    margin-right: auto;
}







